<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Enter the Playlist</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to Lyrics Playlist App</h1>
      <h3>Enter a Spotify user and playlist ID to get the lyrics!</h3>
      <form method="post" action="/result">
        Spotify User: <input type="text" name="name" size="30"><br>
        Playlist ID: <input type="text" name="playlist_id" size="35"><br>
        <input type="submit" value="Get my lyrics!">
      </form>
    </div>
    
  </body>
</html>